.project-edit-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding-top: 12px;

  .nut-form-item {
    background: #fff;
  }

  .form-footer {
    padding: 24px 16px;
  }

  .tips-section {
    padding: 16px;
    font-size: 12px;
    color: #999;
    text-align: center;
  }
}
