.login-container {
  padding: 40px 24px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
  .login-header {
    margin-bottom: 60px;
    
    .title {
      font-size: 28px;
      font-weight: bold;
      color: #333;
      margin-bottom: 12px;
    }
    
    .subtitle {
      font-size: 16px;
      color: #666;
    }
  }

  .login-footer {
      margin-top: 40px;

      .nut-button {
        height: 48px;
        font-size: 16px;
        border-radius: 8px;
      }
  }
}
